@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@coreui/coreui/dist/css/coreui.min.css';

/* :root {
  --foreground-rgb: 30, 41, 59;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-alternate-rgb: 34, 211, 238;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 241, 245, 249;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --bg-alternate-rgb: 8, 51, 68;
  }
} */

:root {
  --foreground-rgb: 241, 245, 249;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --bg-alternate-rgb: 8, 51, 68;
  --cursor-color: rgb(var(--foreground-rgb));
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.headline {
  background-image: radial-gradient(at 50% 65%, rgb(var(--bg-alternate-rgb)), rgb(var(--background-start-rgb)) 45%);
}

.project, .project-popup, .tech-category, .contact-item, .form-field {
  background: linear-gradient(to top, #083344, transparent);
}

.mobile-menu {
  background: linear-gradient(to right, #083344, transparent);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

/* Fonts */

@font-face{
  font-family: "Boxpixies";
  src: url("/fonts/Boxpixies-MVAXn.ttf");
  font-display: block;
}

